<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config/>
    <import resource="spring-root-context.xml"/>
    <bean id="htmlPrinter" class="console.Printer.HTMLPirnter"/>
    <bean id="baseDao" class="persistence.BaseDaoImpl" abstract="true"/>
    <bean id="printerImpl" class="console.Printer.PrinterImpl"/>
    <bean id="inputController" class="console.InputController.InputController">
        <constructor-arg ref="officeManager"/>
        <constructor-arg ref="officeTicket"/>
        <constructor-arg ref="printerImpl"/>
    </bean>
    <bean id="inputControllerDAOImpl" class="console.InputController.InputControllerDAOImpl">
        <constructor-arg ref="printerImpl"/>
        <constructor-arg ref="daoFlight"/>
        <constructor-arg ref="daoCity"/>
    </bean>


</beans>