<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <display-name>TicketOffice</display-name>

    <servlet>
        <servlet-name>QuickServlet</servlet-name>
        <servlet-class>servlet.QuickServlet</servlet-class>

    </servlet>
    <servlet-mapping>
        <servlet-name>QuickServlet</servlet-name>
        <url-pattern>/QuickServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TicketOffice</servlet-name>
        <servlet-class>servlet.AddNewFlight</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketOffice</servlet-name>
        <url-pattern>/TicketOffice</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAllFlights</servlet-name>
        <servlet-class>servlet.ShowAllFlights</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowAllFlights</servlet-name>
        <url-pattern>/TicketOffice/ShowAllFlights</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewFlight</servlet-name>
        <servlet-class>servlet.AddNewFlight</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewFlight</servlet-name>
        <url-pattern>/ManagerOffice/AddNewFlight</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BuyTicket</servlet-name>
        <servlet-class>servlet.BuyTicket</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BuyTicket</servlet-name>
        <url-pattern>/TicketOffice/BuyTicket</url-pattern>
    </servlet-mapping>








</web-app>