<div class="col-sm-12 col-lg-4 panel ">
    <div class="panel-heading">Available cities</div>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="city in cities">
            <td>{{city.cityName}}</td>
            <td>
                <button class="btn btn-danger" type="submit" ng-click="deleteCity(city.cityId)" value="city.name">
                    Delete
                </button>
            </td>
            <td>
                <button class="btn" type="submit" ng-click="editCity(city.cityId)" value="city.name">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-12 col-lg-3 panel">
    <h2>You can add new city: </h2>

    <form name="cityForm">
        <label>
            City title*:
            <input type="text" name="city" ng-model="city" ng-minlength="2" ng-maxlength="14"
                   ng-change="verifyDuplicate(city)" required>
        </label>
        <div role="alert">
            <span style="color:red" class="error" ng-show="cityForm.city.$error.required">Required!</span>
        </div>
        <div role="alert">
      <span style="color:red" class="error" ng-show="cityForm.city.$error.minlength">
        Too short!</span>
      <span style="color:red" class="error" ng-show="cityForm.city.$error.maxlength">
        Too long!</span>
        </div>
        <p>
            <input type="submit" ng-click="addCity(city)" ng-disabled="cityForm.city.$dirty && cityForm.city.$invalid ">
        </p>
    </form>
</div>

