<div class="col-sm-12 col-lg-4 panel ">
    <div class="panel-heading">Available cities</div>

    <table class="table table-striped">
        <tbody>
        <tr ng-repeat="city in cities">
            <td>{{city.cityName}}</td>
            <td>
                <button class="btn btn-danger" type="submit" ng-click="deleteCity(city.cityId)" value="city.name">Delete</button>
            </td>
            <td>
                <button class="btn" type="submit" ng-click="editCity(city.cityId)" value="city.name">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="col-sm-12 col-lg-2 panel panel-success">
    <h2>Validation Example</h2>

    <form name="myForm" novalidate>

        <p>Username:<br>
            <input type="text" name="city" ng-model="city" required>
<span style="color:red" ng-show="myForm.city.$dirty && myForm.city.$invalid">
<span ng-show="myForm.city.$error.required">City name is required.</span>
</span>
        </p>

        <p>
            <input type="submit" ng-click="addCity(city)" ng-disabled="myForm.city.$dirty && myForm.city.$invalid ">
        </p>

    </form>
</div>

