<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
    <script src = "scripts/app.js"></script>
</head>
<body >

<div ng-app = "myApp">

<div ng-controller="MainController">
    <div>
        <table>
            <tr ng-repeat="city in cities">
                <td>{{city.cityName}}</td>
                <td><button type="submit" ng-click="deleteCity(city)">Delete City</button></td>
            </tr>
           </table>
    </div>
    <br>
    <div>
        <form >
            <input type="text" size = "5" ng-model ="cityName" />
            <button type="submit" ng-click="addCity(cityName)">Add City</button>
        </form>
    </div>
    <br>

    <div>
        <table>
            <tr ng-repeat = "flight in flights">
                <td> {{flight.city.cityName}}</td>
                <td> {{flight.emptySeat}}</td>
                <td> {{flight.departureDate}}</td>
            </tr>
        </table>
    </div>


</div>

</div>

</body>
</html>